{{ form_start(form) }}

{{ form_row(form.title) }}

{% if not is_edit %}
    {{ form_row(form.filename) }}
    {% else %}
    <div class="to-disapear">
    {{ form_row(form.filename) }}
    </div>

{% endif %}


{{ form_row(form.type) }}
{{ form_row(form.tags) }}
{{ form_row(form.description) }}
{{ form_row(form.submit) }}




{{ form_end(form) }}
