{% extends 'base.html.twig' %}

{% block title %}RollScape - Modifer une ressource{% endblock %}

{% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" />
        {% endblock %}
        {% block javascripts %}
        {{ parent() }}
        <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

        
    {% endblock %}

{% block main %}
    <div class="container mt-3">
        <div class="px-lg-5 px-md-2 px-sm-1 px-0">
            <h2 class="ff-montserrat fw-bolder fs-3 pb-3 border-bottom border-black-subtle mb-4">Modifier une ressource</h2>
            <div class="row ressource-form">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                    <div class="img-preview rounded-3 h-100">
                    <img src="{{ asset('images/ressources/' ~ ressource.filename) }}" alt="Aperçu de la ressource" class="rounded-3 img-fluid mx-auto">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    {# {{ form_start(form) }} #}
                    {{ form_start(form, {'attr': {
                        'data-turbo': 'false', 
                        'novalidate': 'novalidate',
                        'data-controller': 'none' 
                        }}) }}

                        {{ form_row(form.title) }}
                        <div class="to-disapear">
                            {{ form_row(form.filename) }}
                        </div>
                        {{ form_row(form.type) }}
                        {{ form_row(form.tags) }}
                        {{ form_row(form.alt) }}

                        {{ form_row(form.description) }}
                        {{ form_row(form._token) }}


                        <div class="d-flex gap-2 w-50 align-items-start justify-content-start">
                        {{ form_row(form.submit, {'label': 'Enregistrer'}) }}
                        </div>
                    {{ form_end(form) }}
                    
                    
                    
                </div>
            </div>
        </div>
    
    </div>

    <script>

        let toDisepear = document.querySelector('.to-disapear');
        if (toDisepear) {
            toDisepear.remove();
        }
            
        document.addEventListener("DOMContentLoaded", function () {
            const input = document.querySelector('.tagify-input');
            if (!input) return;

                // Détruire l'ancienne instance si présente
                if (input._tagify) {
                    input._tagify.destroy();
                    delete input._tagify;
             }

        // Initialiser Tagify avec les options correctes
            input._tagify = new Tagify(input, {
                whitelist: {{ tags|json_encode|raw }},
                enforceWhitelist: true,
                dropdown: {
                    enabled: 1,
                    maxItems: 15,
                },
            originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(',')
        });

        // Pré-remplir les tags existants
        input._tagify.addTags({{ selectedTags|json_encode|raw }});
        });
    </script>
{% endblock %}
