{% extends 'base.html.twig' %}

{% block title %}Edit Ressource{% endblock %}

{% block stylesheets %}
            {{ parent() }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" />
        {% endblock %}
        {% block javascripts %}
        {{ parent() }}
        <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
            let input = document.querySelector('.tagify-input');

            let tagify = new Tagify(input, {
                whitelist: {{ tags|json_encode|raw }},
                 enforceWhitelist: true,
                dropdown: {
                    enabled: 1,
                    maxItems: 15,
                }
            });

        // Pré-remplissage des tags liés à la ressource
        tagify.addTags({{ selectedTags|json_encode|raw }});
    });
</script>
    {% endblock %}

{% block main %}
    <h1>Edit Ressource</h1>

    {{ include('ressource/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ressource_index') }}">back to list</a>

    {{ include('ressource/_delete_form.html.twig') }}
{% endblock %}
