{% extends 'base.html.twig' %}

{% block title %}Ressource index{% endblock %}

{% block main %}

 <div class="container mb-5">
  <h2 class="mb-2 ff-montserrat fw-bolder fs-3">Mes ressources</h2>
  <div class="masonry-gallery mt-2">
    {% if ressources | length > 0 %}
      {% for ressource in ressources %}
        <div class="masonry-item">
          <div class="card rounded border-0 shadow-sm position-relative">
            <a href="{{ path('app_ressource_show', {'id': ressource.id}) }}" class="text-decoration-none position-relative" title="{{ ressource.title }}">
              <img src="{{ asset('images/ressources/' ~ ressource.filename) }}" alt="{{ ressource.alt }}" class="img-fluid w-100 rounded ressource-img">
              <div class="hover-overlay rounded d-flex align-items-center justify-content-center">
                <h3 class="px-3 fs-6 text-white ff-montserrat">{{ ressource.title }}</h3>
              </div>
              <div class="bookmark-overlay p-2">
                 <div class="d-flex gap-1">
                    <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="text-decoration-none btn btn-primary btn-sm"><i class="bi bi-pencil-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Editer"></i></a>
                    {% include 'ressource/_delete_form.html.twig' with {'ressource': ressource} %}
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
    {% else %}
      <p>Aucune ressource trouvée.</p>
    {% endif %}
  </div>
  <div class="pagination mt-4">
    {{ knp_pagination_render(pagination) }}
  </div>
</div> 


    

{% endblock %}
