{% extends 'base.html.twig' %}

{% block title %}Ressource index{% endblock %}

{% block main %}

{# Ancien layout #}
{# <div class="container">
  <h2 class="mb-4 ff-montserrat fw-bolder fs-3">Mes Ressources</h2>
    <div class="row row-gap-4">
    <!-- Répéter ce bloc pour chaque ressource -->
        {% for ressource in ressources %}
            <div class="col-lg-3 col-md-4">
                <div class="card rounded-top border-0 shadow-sm position-relative">
                    <a href="{{ path('app_ressource_show', {'id': ressource.id}) }}" class="text-decoration-none position-relative" >
                        <img src="{{asset('images/ressources/' ~ ressource.filename )}}" alt="{{ressource.title}}" class="img-fluid w-100 rounded-top ressource-img">
                        <div class="hover-overlay rounded-top d-flex align-items-center justify-content-center"> 
                            <h3 class="px-3 fs-6 text-white ff-montserrat">{{ressource.title}}</h3>
                        </div>
                        <div class="bookmark-overlay p-2">
                            <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="text-decoration-none btn btn-outline-light rounded-3">
                                <i class="bi bi-bookmark"></i>
                            </a>
                    </div>
                    </a>
                     
                    <div class="d-flex justify-content-between align-items-center px-2 py-2">
                    <p class="card-content my-0 py-2 ps-2 align-items-center ff-montserrat fw-semibold text-muted">
                    @{{ ressource.user.username }}</p>
                        <div class="d-flex gap-1">
                        <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="text-decoration-none btn btn-outline-primary btn-sm">Editer</a>
                        <a href="{{ path('app_ressource_delete', {'id': ressource.id}) }}" class="text-decoration-none btn btn-outline-danger btn-sm">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p> Aucune ressource trouvée.</p>
        {% endfor %}
        
        <div class="pagination rs-pagination mt-4">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div> #}

 <div class="container mb-5">
  <h2 class="mb-4 ff-montserrat fw-bolder fs-3 d-none">Ressources</h2>
  <div class="masonry-gallery mt-5">
    {% if ressources | length > 0 %}
      {% for ressource in ressources %}
        <div class="masonry-item">
          <div class="card rounded border-0 shadow-sm position-relative">
            <a href="{{ path('app_ressource_show', {'id': ressource.id}) }}" class="text-decoration-none position-relative">
              <img src="{{ asset('images/ressources/' ~ ressource.filename) }}" alt="{{ ressource.title }}" class="img-fluid w-100 rounded ressource-img">
              <div class="hover-overlay rounded d-flex align-items-center justify-content-center">
                <h3 class="px-3 fs-6 text-white ff-montserrat">{{ ressource.title }}</h3>
              </div>
              <div class="bookmark-overlay p-2">
                 <div class="d-flex gap-1">
                    <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="text-decoration-none btn btn-primary btn-sm"><i class="bi bi-pencil-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="Editer"></i></a>
                    {% include 'ressource/_delete_form.html.twig' with {'ressource': ressource} %}
                </div>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
    {% else %}
      <p>Aucune ressource trouvée.</p>
    {% endif %}
  </div>
  <div class="pagination mt-4">
    {{ knp_pagination_render(pagination) }}
  </div>
</div> 


    

{% endblock %}
