{% extends 'landingBase.html.twig' %}

{% block title %}RollScape - Se connecter{% endblock %}

{% block main %}
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="container">
    <div class="row justify-content-center align-items-center card-center">
      <div class="col-12">
        <div class="form-signin">
              <div class="card my-4 shadow-sm p-2 mx-auto" style="width: 40%">

            <div class="card-body p-4 p-md-5">
              <h1 class="card-title text-center mb-4 fw-bold">Se connecter</h1>
              <p class="text-center text-muted mb-4">
              Entrez votre email et mot de passe pour vous connecter à  vôtre compte RollScape</p>
              
              <form action="{{ path('app_login') }}" method="post">
                <!-- Email input -->
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="username"  name="_username" placeholder="name@example.com" value="{{ last_username }}" required>
                
                  <label for="floatingEmail">Adresse email</label>
                  <div class="invalid-feedback">
                    Veuillez entrer une adresse email valide.
                  </div>
                </div>
                
                <!-- Password input -->
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password" placeholder="Indiquez votre mot de passe" name="_password" required>

                  <label for="floatingPassword">Mot de passe</label>
                  <div class="invalid-feedback">
                    Votre mot de passe doit contenir au moins 8 caractères.
                  </div>
                  <input type="checkbox" onclick="myFunction()"> <span class="text-muted">Afficher/masquer le mot de passe</span>
                </div>
                
                {# <!-- Remember me checkbox -->
                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">
                    Remember me
                  </label>
                </div> #}

                 {# If you want to control the URL the user is redirected to on success  #}
                 <input type="hidden" name="_target_path" value="{{ path('app_home') }}">
                
                <!-- Submit button -->
                <div class="d-grid gap-2">
                  <button class="btn btn-rs-primary btn-lg" type="submit">Se connecter</button>
                </div>
                
                {# <!-- Forgot password link -->
                <div class="text-center mt-3">
                  <a href="#" class="text-decoration-none">Forgot password?</a>
                </div> #}
              </form>
              
              {# <div class="divider">
                <span>OR</span>
              </div>
              
              <!-- Social login buttons -->
              <div class="d-grid gap-2 mb-3">
                <button class="btn btn-outline-dark" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google me-2" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                  </svg>
                  Sign in with Google
                </button>
              </div>
            </div> #}
            <div class="card-footer text-center py-3 bg-transparent">
              <p class="mb-0">Vous n'avez pas de compte ? <a href="{{path('app_register')}}" class="text-decoration-none text-rs-accent">S'enregistrer</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
  </script>
{% endblock %}
